.splitcharstyle66130{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font66130{ font-family: 微软雅黑; color: #dbdedf; font-size: 10pt ;}
.erjifontover66128{ line-height: 160%; font-family: 微软雅黑; color: #f7f709; font-size: 11pt ;}
.leaderfont66128{ line-height: 160%; font-family: 宋体; color: #666666; font-size: 11pt ;}
.erjibackground66128{ position: relative; text-align: center; background-color: #741873; width: 110px; font-family: 微软雅黑; height: 38px; color: #fefeef; font-size: 11pt ;}
.currentfontStyle66128{ line-height: 160%; font-family: 宋体; color: #cc0000; font-size: 11pt; text-decoration: none ;}
.fontstyle66128{ line-height: 160%; font-family: 微软雅黑; color: #ffffff; font-size: 11pt ;}
.yijifontover66128{ line-height: 160%; font-family: 微软雅黑; color: #ffcf11; font-size: 11pt ;}
.erjibackgroundover66128{ position: relative; text-align: center; background-color: #741873; width: 110px; font-family: 微软雅黑; height: 38px; color: #eeee00; font-size: 11pt ;}
.yijibackgroundover66128{ position: relative; text-align: center; background-color: #741873; width: 110px; height: 36px ;}
.ejfontstyle66128{ text-align: center; line-height: 160%; font-family: 微软雅黑; color: #f1fcfa; font-size: 11pt ;}
.titlestyle66129{ font-size: 9pt; color: #222222; text-decoration: none ;}
.titlestyle66131{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle66131{ line-height: 150%; color: #222222; font-size: 9pt ;}
.morestyle66132{ font-size: 9pt ;}
.clickstyle66132{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont66132{ font-size: 9pt; color: ; line-height: 80% ;}
.titlestyle66132{ font-size: 10pt; font-family: 微软雅黑; color: #542454; line-height: 170% ;}
.columnstyle66132{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle66132{ font-size: 10pt; font-family: 微软雅黑; color: #773369; line-height: 80% ;}
A.c66132 {
font-size: 10pt; font-family: 微软雅黑; color: #542454; line-height: 170% 
;}
A.c66132:link {
color:#222222;}
A.c66132:visited {
color:#222222;}
A.c66132:active {
color: #222222;}
A.c66132:hover {
color: #cc0000;}
.morestyle66133{ font-size: 9pt ;}
.clickstyle66133{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont66133{ font-size: 9pt; line-height: 150% ;}
.titlestyle66133{ font-size: 10pt; font-family: 微软雅黑; color: #542454; line-height: 170% ;}
.columnstyle66133{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle66133{ line-height: 170%; font-family: 微软雅黑; color: #773369; font-size: 10pt ;}
A.c66133 {
font-size: 10pt; font-family: 微软雅黑; color: #542454; line-height: 170% 
;}
A.c66133:link {
color:#222222;}
A.c66133:visited {
color:#222222;}
A.c66133:active {
color: #222222;}
A.c66133:hover {
color: #cc0000;}
.morestyle66134{ font-size: 9pt ;}
.clickstyle66134{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont66134{ font-size: 9pt; line-height: 150% ;}
.titlestyle66134{ font-size: 10pt; font-family: 微软雅黑; color: #542454; line-height: 170% ;}
.columnstyle66134{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle66134{ line-height: 170%; font-family: 微软雅黑; color: #773369; font-size: 10pt ;}
A.c66134 {
font-size: 10pt; font-family: 微软雅黑; color: #542454; line-height: 170% 
;}
A.c66134:link {
color:#222222;}
A.c66134:visited {
color:#222222;}
A.c66134:active {
color: #222222;}
A.c66134:hover {
color: #cc0000;}
.leaderstyle66135{ font-size: 9pt ;}
.linkstyle66135{ font-size: 10pt; font-family: 微软雅黑; color: #762476; padding-bottom: 0px; padding-top: 0px; padding-left: 15px; line-height: 200%; padding-right: 15px; 0px: ; 5px:  ;}
.leaderfont66136{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle66136{ font-size: 10pt; border-top: #878787 1px solid; height: 25px; font-family: 微软雅黑; vertical-align: 2px; background-repeat: no-repeat; border-bottom: #878787 1px solid; position: relative; color: #222222; border-left: #878787 1px solid; padding-right: 0px ;}